@import url('./vraiables.css');

/* Rest */
*,
*::after ,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(127, 176, 219);
}
header{
    background-color: rgba(41, 108, 196, 0.795);
    color: antiquewhite;
    text-align: center;
    height: 4.5rem;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgb(17, 227, 255);
}

.mark{
    font-size: 30px;
    font-style: italic;
    background-color: #c7bebe;
}

.social-link{
    padding-right: 20px;
}
/* Whats app Design */
.brand-whatsapp{
    font-size: 1.3rem;
    color: green;
    border: 1px solid;
    border-radius:15px;
    box-sizing: content-box;
    font-size: 1.6rem;
    /* text-align: center; */
    transition: color 3s ease-in-out;
}
.brand-whatsapp:hover{
    background-color:rgba(30, 255, 0, 0.411) ;
    border-radius: 10px;
    padding: 2px;
}
/* Face Book */
.brand-facebook{
    border-bottom: 1px solid rgb(11, 30, 207);
    box-shadow: 0 10px 15px 0;
    color: rgb(6, 6, 201);
    font-size: 1.6rem;
}
.head{
    display: flex;
    justify-content: space-around;
}


.social-link {
    text-decoration: none;
    color: var(--light-color);
}

.navbar{
    margin-top: 20px;
    background-color: var(--bg-primary-color);
    width: 75%;
    border-bottom: 2px solid;
    border-color: cyan;
    border-radius: 1rem;
    margin-left: 12.5rem;
    padding: 1rem;
    position: sticky;
    top: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-around;
}
.navbar .navbar-items ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.navbar .navbar-brand a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.navbar .navbar-brand a:hover{
    background-color: beige;
    color: black;
    box-shadow: 0 10px 20px 0 chartreuse;
    border: 2px solid;
    border-radius: 10px;
}

.navbar .navbar-items a{
    text-decoration: none;
font-size: 1.2rem;
color: bisque ;
transition: all 0.2s ease-in-out;
}

.navbar .navbar-items a:hover{
    background-color: beige;
    color: black;
    box-shadow: 0 10px 20px 0 chartreuse;
    border: 2px solid;
    border-radius: 10px;
}

/* Start Section */
section .row{
    margin-top: 5rem;
    display: flex;
}
section .row .col{
    background-color: var(--light-color);
    color: rgb(61, 57, 57);
    padding: 1.6rem 2rem 4rem 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1.8rem;
    box-shadow: -1px -1px 1px;
}

/* Nth Child */
section .row .col:nth-child(1){
    position: relative;
    top:7rem;
    left: 7rem;
    z-index: -1;
    position: relative;
}

section .row .col h2{
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

section .row .col p{
    font-size: 2rem;
    text-align: center;
}

section .row .col button{
    padding: 1rem;
    background-color: var(--bg-primary-color);
    margin-left: 20rem;
    border: none;
    outline: none;
    border-radius: 1.8rem;
    margin-top: 1rem;
}